/* ===== HEADER - NEUROADAPT ===== */

.main-header {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background: var(--bg-ink-black);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
}

/* Navbar ocupando toda a largura para efeito de extremidades */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1%;
}

/* ===== LADO ESQUERDO: LOGO E LINKS ===== */
.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
    /* Espaço entre Logo e início do Menu */
}

/* Logo */
.navbar-logo a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

/*to do: trocar pela logo img*/
.navbar-logo h2 {
    color: var(--text-white);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0;
}

.navbar-logo img {
    height: 90px;
    width: auto;
    display: block;
}

/* Menu de Navegação */
.navbar-menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-link {
    color: var(--text-white);
    font-size: 0.95rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
    color: var(--calm-primary);
}

/* Estilização da Engrenagem */
.nav-link i {
    font-size: 1.1rem;
    color: var(--text-white);
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Animação
    info:  apenas se o usuário permitir movimento */
@media (prefers-reduced-motion: no-preference) {
    .nav-link:hover i {
        transform: rotate(90deg);
        color: var(--calm-primary);
    }
}

/* ===== LADO DIREITO: BOTÕES DE AÇÃO ===== */
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
    /* Espaço entre Lúdica, Entrar, Criar Conta */
}

.btn {
    color: var(--text-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.5rem;
    border-radius: var(--border-radius-sm);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-main);
    transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s;
}

.btn:hover {
    opacity: 0.8;
    filter: brightness(1.1);
}

.btn-ludica {
    background-color: var(--calm-primary);
    color: var(--bg-ink-black);
    font-weight: bold;
}

/* Botão Criar Conta */
.btn-create {
    font-weight: 700;
    font-size: 0.9rem;
    border: 1px solid var(--calm-primary);
}

.btn-login {
    font-weight: 600;
    font-size: 0.95rem;
    transition: opacity 0.2s;
}

/* =========================================
   RESPONSIVIDADE BÁSICA
========================================= */
@media (max-width: 1100px) {
    .nav-left {

        gap: 20px;
    }

    .navbar-menu {
        gap: 15px;
    }

    .navbar-logo h2 {
        display: none;
    }

    .btn {
        padding: 0.5rem 1.2rem;
        text-align: center;
        font-size: 0.9rem;

    }

    /* Mantém apenas a img em telas médias */
}

@media (max-width: 850px) {

    /* No futuro, aqui entra o Menu Mobile */
    .navbar-menu {
        display: none;
    }
}